
	<<< define "title" >>>

	<<< end >>>

<<<define "content" >>>

<div class="container lead">

	<p>The <a href="http://www.sikhiwiki.org/index.php/Guru_Granth_Sahib">Guru Granth Sahib</a> is the central religious text of <a href="http://en.wikipedia.org/wiki/Sikhism">Sikhi</a> (Sikhism), believed to be the divine words of God to guide humanity through this life. It is considered by Sikhs to be their eternal <em>Guru</em> or teacher. It contains the <em>baani</em> (words) and <em>shabads</em> (hymns) spoken by the <a href="http://www.sikhiwiki.org/index.php/Ten_Sikh_Gurus">Sikh Gurus</a> and <em>bhagats</em> (saints) from <a href="http://en.wikipedia.org/wiki/Bhagat">other religions</a> who also shared the same core message.  

	<p>The standardized version of the Guru Granth Sahib is written over 1430 pages (angs). It is divided into sections containing the words of the Gurus and Bhagats in the form of poetry (baani). Music forms an integral part of Sikhi as it provides a color (raag) to the words, giving them important emotional and spiritual context.</p>

	<p>This is a visually minimalistic website to explore the Guru Granth Sahib.</p>	

	<p>Currently on version v0.6</p>


<!-- Do not change the code! -->
<a id="foxyform_embed_link_529515" href="http://www.foxyform.com/">foxyform</a>
<script type="text/javascript">
(function(d, t){
   var g = d.createElement(t),
       s = d.getElementsByTagName(t)[0];
   g.src = "http://www.foxyform.com/js.php?id=529515&sec_hash=849063fed87&width=350px";
   s.parentNode.insertBefore(g, s);
}(document, "script"));
</script>
<!-- Do not change the code! -->



</div>



<<<end>>>