<<< define "title" >>>
<<< end >>>


<<<define "content" >>>

<div class="container">


	<div class="row container lead">
		<p>Explore the Guru Granth Sahib in 53 languages. </p>
		<p> Try <a href="/1">Page by Page</a>
		</p>
		<p>You can also jump to a <a href="/randomhymn">Random Shabad (Hymn)</a>.
		</p>
	</div>

	<div class="row container lead">
		<p>The Guru Granth Sahib is the foundation of <a href="http://en.wikipedia.org/wiki/Sikhism">Sikhi</a> (or Sikhism) followed by more than 20 million people across the world, making it the 5th largest organized religion. </p>
	</div>


	<div class="row container lead">
		<p>The standardized version of the Guru Granth Sahib is written over 1430 pages (angs). It is divided into sections containing the words of the Gurus and Bhagats in the form of poetry (baani). Music forms an integral part of Sikhi as it provides a color (raag) to the words, giving them important emotional and spiritual context.</p>
	</div>

	<div class="row container lead">
		<p>Here is a detailed index of the Guru Granth Sahib:</p>
	</div>

<!--- start -->

<div class="lead"> Sections: </div>
        
          <div class="tabbable tabs-left">
            <ul id="lt" class="nav nav-tabs left-tabs">
              <li class="active"><a href="#a" data-toggle="tab">Jap Ji Sahib (Song of the Soul)</a></li>
              <li><a href="#b" data-toggle="tab">Rehraas (Evening Prayer)</a></li>
              <li><a href="#c" data-toggle="tab">Sohila (Song of Praise)</a></li>
            </ul>
            <ul id="rt" class="nav nav-tabs right-tabs">
              <li><a href="#d" data-toggle="tab">Siri Raag</a></li>
              <li><a href="#e" data-toggle="tab">Raag Majh</a></li>
              <li><a href="#f" data-toggle="tab">Raag Gauri</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="a">
              <pre>The universal hymn and the deepest exegesis of God. Composed by Guru Nanak
              <a class="pull-left">Go to Page 1</a></pre><br />
              </div>
              <div class="tab-pane" id="b">
              <pre>Rehraas Sahib has
              <a class="pull-left">Go to Page 8</a></pre><br />
              </div>
              <div class="tab-pane" id="c">
              <pre>Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
Quisque mauris augue, molestie tincidunt condimentum vitae. 
              <a class="pull-left">Go to Page 12</a></pre><br />
              </div>
              <div class="tab-pane" id="d">
              <pre>The basis of this Raag is steeped in the traditions of mainstream Indian Classical music. Siri Raag is serious and thought provoking in its nature and creates an atmosphere where the listener is led to heed the advice given therein. The listener (the mind) is made aware of the truth of the message and with this ‘education’ is given the strength to face the future with both humility and the ‘gained’ knowledge.
              
Siri Raag - Siri Raag Ki Vaar
              
Siri Raag - Bhagtah Ki Bani (Teachings Of The Saints)
              <a class="pull-right">Go to Page 14</a></pre><br />
              </div>
              <div class="tab-pane" id="e">
              <pre>Raag Majh was composed by the Fifth Sikh Guru (Shri Guru Arjun Dev ji). The Raag’s origins are based in Punjabi Folk Music and its essence was inspired by the Majha regions traditions of ‘Ausian’; the game of waiting and yearning for the return of a loved one.The feelings evoked by this Raag have often been compared to that of a mother waiting for her child to return after a long period of separation. She has an anticipation and hope for the child’s return, although at the same moment she is painfully aware of the uncertainty of their return home. This Raag brings to life the emotion of extreme love and this is highlighted by the sorrow and anguish of separation.

Majh - Shabad Hazaaray (Worth A Thousand Hymns)

Majh - Barah Maha (The Twelve Months)

Majh - Vaar Majh
              <a class="pull-right">Go to Page 94</a></pre><br />
              </div>
              <div class="tab-pane" id="f">
              <pre>Gauri creates a mood where the listener is encouraged to strive harder in order to achieve an objective. However, the encouragement given by the Raag does not allow the ego to increase. This therefore creates the atmosphere where the listener is encouraged, but still prevented from becoming arrogant and self-important.

Gauri Dakhani has a similar nature to Gauri; however, the South Indian style of this Raag, including the taal (rhythm) highlights the strict and disciplined aspect of Gauri.

Gauri Chayti generates a deliberate sensation of fear by creating a conscious reminder of what may occur if we loose the things we take for granted. It awakens feelings of panic and regret, by exposing the listener to the possible outcome of what might happen should this warning not be heeded.

As the title suggests Gauri ‘Bairagan’ is a Raag of bairaag (sadness of separation). The listener is left with an intense feeling of sorrow and emptiness. However, the balance of Raag Gauri ensures that this sense of loss and sadness motivates the listener to try to discover exactly what is missing. Gauri Bairagan therefore evokes feelings of sadness, which become a lesson, as opposed to creating a sense of depression.

Gauri Majh is a well-planed emotional ‘act’, which reaches out to fulfil a yearning created by the Raag. This yearning is similar to that of Raag Majh’s regret, hope and anticipation, however in this instance it is created deliberately in order to sway the listener to react to the longing.

Gauri Purbi contains strong emotions of experience along with feelings of preparation, in order to go further and to achieve more. Although there are confident feelings in this Raag, there is a sense of uncertainty as there is a heart felt request for help to achieve the desired goal. The sentiments of this Raag are well considered assessments of the circumstances, without excess confidence or extreme helplessness.

In the Guru Granth Sahib, there is one shabad (hymn) under the title Raag Gauri Deepaki. In this shabad, Sohila is a lorrie (lullaby), which is narrating a kind of bedtime story.

This Raag generates feelings of warmth and security, just like a mother singing a lullaby to her child. Lullabies were traditionally used not only as a way of comforting a child, but also as a means in which mothers shared their past experiences and knowledge.

Similarly this Raag enlightens the listener through knowledge and experience and brings them to the realisation that to gain the truth, you must first realise that you are in darkness. This enlightened state gives the listener a feeling of certainty, fearlessness and a new hope for the future.

Gauri Malva is based on Punjabi Folk music and is influenced by the ‘Malva’ region of Punjab and the Malvaee hospitality. The nature of this Raag can be compared to the thoughtful, very serious, yet caring advice given by a true friend. The Raag persuades the listener with such truth and friendliness, that it is impossible to disagree, even if the listener does not like the advice being given.

The tone of this Raag is that of self-assessment with a positive attitude of improvement. It creates an atmosphere of constantly progressing with confidence and experience, as well as instilling a positive belief of enduring achievement.

Gauri Guarairi contains a mixture of calmness and control in feeling, however the emotional message of the Raag is open and truthful in its approach. The emotions are conveyed in a direct and disciplined way. The balanced and focused character of this Raag is evident in its structure, in that its scale is restricted to ‘madh saptak’ (middle scale).

The essence of Gauri Mala is a combination of good, pure, true and positive thoughts added together one by one. There is a feeling of having worked hard and an increased energy, which encourages more devotion towards the truth.

Gauri Sorath has a definite feeling of attraction and appeal, which woos the listener’s attention to the subject matter or target. However, the feelings of being enticed and lured are balanced with a sense of duty and realisation, of needing to obey the warning given.

Gauri - Dukh Bhanjani (Destroyer Of Sorrow)

Gauri - Sukhmani Sahib (Peace Of Mind)

Gauri - Thitee (The Lunar Days)

Gauri - Gauri Ki Vaar

Gauri - Bhagtah Ki Bani (Teachings Of The Saints)

Gauri - Bhagtah Ki Bani (Teachings Of The Saints) - Thiteen (The Lunar Days)
              <a class="pull-right">Go to Page 151</a></pre>
              <br />
              </div>
            </div>
          </div>
          <script type="text/javascript">
            (function($) {
              $(".right-tabs a, .left-tabs a").click(function(event) {
                var ul = $(this).parents("ul.nav");
                ul.siblings("ul").first().children().removeClass("active");
              });
            })(jQuery);
          </script>
          <br style="clear:both"/>
          <hr />



<!-- end -->







	<div class="row container">
		<div class="span6 pull-left">
			<div class="lead"> Sections: </div>
			<div><a href="/1">Jap Ji Sahib (Song of the Soul) </a></div>
			<div><a href="/8">Rehraas (Evening Prayer)</a></div>
			<div><a href="/12">Sohila (Song of Praise)</a></div>
			<div><a href="/14">Siri Raag </a></div>
			<div><a href="/94">Raag Majh</a></div>
			<div><a href="/151">Raag Gauri</a></div>
			<div><a href="/347">Raag Aasaa</a></div>
			<div><a href="/489">Raag Gujari</a></div>
			<div><a href="/527">Raag Devgandhari</a></div>
			<div><a href="/537">Raag Bihagara</a></div>
			<div><a href="/557">Raag Vadhans</a></div>
			<div><a href="/595">Raag Sorath</a></div>
			<div><a href="/660">Raag Dhanasari</a></div>
			<div><a href="/696">Raag Jaitsiri</a></div>
			<div><a href="/711">Raag Todi</a></div>
			<div><a href="/719">Raag Bairari</a></div>
			<div><a href="/721">Raag Tilang</a></div>
			<div><a href="/728">Raag Suhi</a></div>
			<div><a href="/795">Raag Bilaval</a></div>
			<div><a href="/859">Raag Gond</a></div>
		</div>

		<div class="span6 pull-right">
			<div><a href="/876">Raag Ramkali</a></div>
			<div><a href="/975">Raag Nat Narayan</a></div>
			<div><a href="/984">Raag Mali Gaura</a></div>
			<div><a href="/889">Raag Maru</a></div>
			<div><a href="/1107">Raag Tukhari</a></div>
			<div><a href="/1118">Raag Kedara</a></div>
			<div><a href="/1125">Raag Bhairao</a></div>
			<div><a href="/1168">Raag Basant</a></div>
			<div><a href="/1197">Raag Sarang</a></div>
			<div><a href="/1254">Raag Malaar</a></div>
			<div><a href="/1294">Raag Kanara</a></div>
			<div><a href="/1319">Raag Kalian</a></div>
			<div><a href="/1327">Raag Parbhati</a></div>
			<div><a href="/1352">Raag Jaijavanti</a></div>
			<div><a href="/1429">Raag Mala</a></div>
			<div class="lead"> Baanis: </div>
			<div><a href="/h703">Sukhmani Sahib</a></div>
			<div><a href="/h1192">Aasaa di Vaar</a></div>
			<div><a href="/h2483">Anand Sahib</a></div>
			<div><a href="/h2502">Sidh Gosht</a></div>
		</div>
	</div>

</div>

   
</div>



<<<end>>>