<<< define "title" >>>
<<< end >>>


<<<define "content" >>>

<div class="container">


	<div class="row container lead">
		<p>Explore the Guru Granth Sahib in 53 languages. </p>
		<p> Try <a href="/1">Page by Page</a>
		</p>
		<p>You can also jump to a <a href="/randomhymn">Random Shabad (Hymn)</a>.
		</p>
	</div>

	<div class="row container lead">
		<p>The Guru Granth Sahib is the foundation of <a href="http://en.wikipedia.org/wiki/Sikhism">Sikhi</a> (or Sikhism) followed by more than 20 million people across the world, making it the 5th largest organized religion. </p>
	</div>


	<div class="row container lead">
		<p>The standardized version of the Guru Granth Sahib is written over 1430 pages (angs). It is divided into sections containing the words of the Gurus and Bhagats in the form of poetry (baani). Music forms an integral part of Sikhi as it provides a color (raag) to the words, giving them important emotional and spiritual context.</p>
	</div>

	<div class="row container lead">
		<p>Here is a detailed index of the Guru Granth Sahib:</p>
	</div>

<!--- start -->

<div class="lead"> Sections: </div>
        
          <div class="tabbable tabs-left">


            <ul id="lt" class="nav nav-tabs left-tabs">
            	<<< range $index, $results := .Data >>>            		
            			<li 
            				<<< if eq $index 0 >>> class = "active" <<< end >>> 
            			>
            				<a href="#<<< .Hash >>>" data-toggle="tab"><<< .Header >>></a></li>
            	<<< end >>>
            </ul>

            <!--<ul id="rt" class="nav nav-tabs right-tabs">
            	<<< range .Data >>>
            		<<< if eq .Side "right" >>>
            			<li ><a href="#<<< .Hash >>>" data-toggle="tab"><<< .Header >>></a></li>
            		<<< end >>>
            	<<< end >>>
            </ul>-->


            <div class="tab-content">
              
	            <<< range $index, $results := .Data >>>
		            <div class="tab-pane <<< if eq $index 0 >>> active <<< end >>> " id="<<< .Hash >>>">
					<pre><b><<< .Header >>></b><br>
					<<< .Description >>></pre>
					</div>
				<<< end >>>
            
            
          </div>
          <script type="text/javascript">
            (function($) {
              $(".right-tabs a, .left-tabs a").click(function(event) {
                var ul = $(this).parents("ul.nav");
                ul.siblings("ul").first().children().removeClass("active");
              });
            })(jQuery);
          </script>
          <br style="clear:both"/>
          <hr />

<!-- baanies 

                       <div><a href="/h703">Sukhmani Sahib</a></div>
                       <div><a href="/h1192">Aasaa di Vaar</a></div>
                       <div><a href="/h2483">Anand Sahib</a></div>
                       <div><a href="/h2502">Sidh Gosht</a></div>

-->

<!-- end -->


</div>

   
</div>



<<<end>>>