<<< define "title" >>>
<<< end >>>


<<<define "content" >>>

<div class="container" >


	<div class="row container lead">
		<center><p><strong>Sri Guru Granth Sahib</strong> in 53 languages</p></center>
		<center><p>  <a href="/1">Page by Page</a> | <a href="/randomhymn">Random Shabad (Hymn)</a>
		</p></center>
	</div>

<!--- start -->
        
          <div class="tabbable tabs-left">

            <ul id="lt" class="nav nav-tabs left-tabs">
            	<<< range $index, $results := .Data >>>            		
            			<li 
            				<<< if eq $index 0 >>> class = "active" <<< end >>> 
            			>
            				<a href="#<<< .Hash >>>" data-toggle="tab"><<< .Header >>></a></li>
            	<<< end >>>
            </ul>

            <!--<ul id="rt" class="nav nav-tabs right-tabs">
            	<<< range .Data >>>
            		<<< if eq .Side "right" >>>
            			<li ><a href="#<<< .Hash >>>" data-toggle="tab"><<< .Header >>></a></li>
            		<<< end >>>
            	<<< end >>>
            </ul>-->


            <div class="tab-content">
              
	            <<< range $index, $results := .Data >>>
		            <div class="tab-pane <<< if eq $index 0 >>> active <<< end >>> " id="<<< .Hash >>>">
					<blockquote >
            <div class="row container" >
              <!-- <div class="container"  style="position:fixed;"> -->
					<<< .Description >>>
            </div>
					</blockquote>
          </div>
				<<< end >>>
            
            
          </div>
          <script type="text/javascript">
            (function($) {
              $(".right-tabs a, .left-tabs a").click(function(event) {
                var ul = $(this).parents("ul.nav");
                ul.siblings("ul").first().children().removeClass("active");
              });
            })(jQuery);
          </script>
          <br style="clear:both"/>
          <hr />

<!-- baanies 

                       <div><a href="/h703">Sukhmani Sahib</a></div>
                       <div><a href="/h1192">Aasaa di Vaar</a></div>
                       <div><a href="/h2483">Anand Sahib</a></div>
                       <div><a href="/h2502">Sidh Gosht</a></div>

-->

<!-- end -->


</div>

   
</div>



<<<end>>>